let mapleader = &quot; &quot;
set scrolloff=5
set incsearch
set ignorecase
set smartcase
set wrapscan
set clipboard=unnamedplus
set relativenumber number
set easymotion

map Q gq

&quot; load plugins
Plug &#39;preservim/nerdtree&#39;
Plug &#39;machakann/vim-highlightedyank&#39;
Plug &#39;michaeljsmith/vim-indent-object&#39;
Plug &#39;tpope/vim-surround&#39;
set which-key
set quickscope

&quot; set the keybindings to move between splits to ctrl + hjkl
sethandler &lt;c-h&gt; a:vim
sethandler &lt;c-l&gt; a:vim
sethandler &lt;c-j&gt; a:vim
sethandler &lt;c-k&gt; a:vim
nnoremap &lt;c-h&gt; &lt;c-w&gt;h
nnoremap &lt;c-l&gt; &lt;c-w&gt;l
nnoremap &lt;c-j&gt; &lt;c-w&gt;j
nnoremap &lt;c-k&gt; &lt;c-w&gt;k

nmap &lt;Tab&gt; &lt;Action&gt;(ShowErrorDescription)
map &lt;Leader&gt;e &lt;Action&gt;(GotoNextError)
nmap gs &lt;Action&gt;(GotoSuperMethod)
nmap gu &lt;Action&gt;(ShowUsages)
nmap gi &lt;Action&gt;(GotoImplementation)
map &lt;Leader&gt;o &lt;Action&gt;(OverrideMethods)
map &lt;Leader&gt;lf &lt;Action&gt;(SelectInProjectView)

&quot;keep visual mode after indent
vnoremap &gt; &gt;gv
vnoremap &lt; &lt;gv

&quot; debugger bindings
map &lt;Leader&gt;b &lt;Action&gt;(ToggleLineBreakpoint)
map &lt;Leader&gt;d &lt;Action&gt;(DebugClass)
map &lt;Leader&gt;dr &lt;Action&gt;(RerunFailedTests)

&quot; &#39;telescope&#39; bindings
map &lt;Leader&gt;se &lt;Action&gt;(RecentFiles)
map &lt;Leader&gt;sw &lt;Action&gt;(FindInPath)
map &lt;Leader&gt;sf &lt;Action&gt;(GotoFile)
map &lt;Leader&gt;sa &lt;Action&gt;(GotoAction)
map &lt;Leader&gt;ss &lt;Action&gt;(GotoSymbol)
map &lt;Leader&gt;sr &lt;Action&gt;(RunAnything)
map &lt;Leader&gt;sc &lt;Action&gt;(FileStructurePopup)

&quot; refactoring bindings
map &lt;Leader&gt;R &lt;Action&gt;(RenameElement)
map &lt;Leader&gt;xm &lt;Action&gt;(ExtractMethod)
map &lt;Leader&gt;xv &lt;Action&gt;(IntroduceVariable)
map &lt;Leader&gt;xc &lt;Action&gt;(IntroduceConstant)

&quot; window bindings
map &lt;Leader&gt;wd &lt;Action&gt;(ActivateDebugToolWindow)
map &lt;Leader&gt;ww &lt;Action&gt;(HideAllWindows)
map &lt;Leader&gt;wt &lt;Action&gt;(ActivateTerminalToolWindow)
map &lt;Leader&gt;wf &lt;Action&gt;(ActivateProjectToolWindow)

map &lt;S-j&gt; &lt;Action&gt;(PreviousTab)
map &lt;S-k&gt; &lt;Action&gt;(NextTab)
map &lt;S-x&gt; &lt;Action&gt;(CloseContent)
map &lt;C-S-x&gt; &lt;Action&gt;(CloseAllEditorsButActive)

&quot; git bindings
map &lt;Leader&gt;gu &lt;Action&gt;(Vcs.UpdateProject)
map &lt;Leader&gt;gr &lt;Action&gt;(Vcs.RollbackChangedLines)
map &lt;Leader&gt;gb &lt;Action&gt;(Git.Branches)

&quot; maven bindings
map &lt;Leader&gt;mr &lt;Action&gt;(Maven.Reimport)

&quot; easymotion jumps
map &lt;Leader&gt;j &lt;Plug&gt;(easymotion-f)
map &lt;Leader&gt;J &lt;Plug&gt;(easymotion-s)

&quot; always use jetbrains jumplist
nmap &lt;C-o&gt; &lt;Action&gt;(Forward)
nmap &lt;C-i&gt; &lt;Action&gt;(Back)

&quot; Toggle case and start typing. E.g. `&lt;leader&gt;iget`: `property` -&gt; `getProperty`
nmap &lt;leader&gt;i ~hi

nmap &lt;S-Down&gt; :action EditorCloneCaretBelow&lt;CR&gt;
nmap &lt;S-Up&gt; :action EditorCloneCaretAbove&lt;CR&gt;
