" Basic settings
let mapleader = " "
set scrolloff=5
set incsearch
set ignorecase
set smartcase
set wrapscan
set clipboard=unnamedplus
set relativenumber number
set easymotion
set which-key
set quickscope

" Basic mappings
map Q gq

" Plugins
set NERDTree
set highlightedyank
set vim-indent-object
set surround

" Split navigation
sethandler <c-h> a:vim
sethandler <c-l> a:vim
sethandler <c-j> a:vim
sethandler <c-k> a:vim
nnoremap <c-h> <c-w>h
nnoremap <c-l> <c-w>l
nnoremap <c-j> <c-w>j
nnoremap <c-k> <c-w>k

" IDE actions
nmap <Tab> <Action>(ShowErrorDescription)
map <Leader>e <Action>(GotoNextError)
nmap gs <Action>(GotoSuperMethod)
nmap gu <Action>(ShowUsages)
nmap gi <Action>(GotoImplementation)
map <Leader>o <Action>(OverrideMethods)
map <Leader>lf <Action>(SelectInProjectView)

" Indentation
vnoremap > >gv
vnoremap < <gv

" Debugger bindings
map <Leader>b <Action>(ToggleLineBreakpoint)
map <Leader>d <Action>(DebugClass)
map <Leader>dr <Action>(RerunFailedTests)

" Search and navigation
map <Leader>se <Action>(RecentFiles)
map <Leader>sw <Action>(FindInPath)
map <Leader>sf <Action>(GotoFile)
map <Leader>sa <Action>(GotoAction)
map <Leader>ss <Action>(GotoSymbol)
map <Leader>sr <Action>(RunAnything)
map <Leader>sc <Action>(FileStructurePopup)

" Refactoring bindings
map <Leader>R <Action>(RenameElement)
map <Leader>xm <Action>(ExtractMethod)
map <Leader>xv <Action>(IntroduceVariable)
map <Leader>xc <Action>(IntroduceConstant)

" Window management
map <Leader>wd <Action>(ActivateDebugToolWindow)
map <Leader>ww <Action>(HideAllWindows)
map <Leader>wt <Action>(ActivateTerminalToolWindow)
map <Leader>wf <Action>(ActivateProjectToolWindow)

" Tab management
map <S-j> <Action>(PreviousTab)
map <S-k> <Action>(NextTab)
map <S-x> <Action>(CloseContent)
map <C-S-x> <Action>(CloseAllEditorsButActive)

" Git bindings
map <Leader>gu <Action>(Vcs.UpdateProject)
map <Leader>gr <Action>(Vcs.RollbackChangedLines)
map <Leader>gb <Action>(Git.Branches)

" Maven bindings
map <Leader>mr <Action>(Maven.Reimport)

" EasyMotion
map <Leader>j <Plug>(easymotion-f)
map <Leader>J <Plug>(easymotion-s)

" Navigation history
nmap <C-i> <Action>(Back)
nmap <C-o> <Action>(Forward)

" Case toggle and insert
nmap <leader>i ~hi

" Multiple cursors
nmap <S-Down> <Action>(EditorCloneCaretBelow)
nmap <S-Up> <Action>(EditorCloneCaretAbove)
